body {
    background: rgb(139,0,0);
    color: white;   
    padding: 10px;
     font-size: 20px;
     width: 100%;
}

  .head {
      text-align: center;
  }
  .divpicture {
      background-image: url("1.jpg");
      background-color: rgb(255, 0, 0, 0.5);
      align-items: center;
      justify-content: center;
      padding: 20px;
    
      
  }
h1 {
    font-size: 70px;
   
}

div img {
    width: 100%;    
}    

.footer {
    text-align: center;
}